<h1>{{ product.name }}</h1>

<div>
   {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 500px;">
    {% else %}
        <p>Изображение отсутствует</p>
    {% endif %}

  <p>Цена: {{ product.price }}</p>
  <p>Описание: {{ product.description }}</p>
  <p>Количество на складе: {{ product.stock }}</p>
  <p>Категория: {{ product.category }}</p>
  <p>Производитель: {{ product.manufacturer }}</p>

  <a href="{% url 'cart_add' item_pk %}">Добавить в корзину</a>

  <p></p>
  <a href="{% url 'catalog' %}">Назад к каталогу</a>
</div>