<!DOCTYPE html>
<html>
<head>
    <title>О магазине настольных игр и аксессуаров к ним</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
    </style>
</head>
<body>
    <p>Тема лабораторной работы: Создание и базовая настройка приложений Django</p>
    <h1>О магазине настольных игр и аксессуаров к ним</h1>
    <p>Знаем Играем</p>
 <p>«Знаем Играем» (znaemigraem.by) — белорусский интернет-магазин, специализирующийся на продаже настольных игр для детей и взрослых. Компания позиционирует себя как место, где традиционные «ходилки» и «бродилки» соседствуют с современными сложными стратегиями и головоломками, предлагая развлечение для всей семьи или дружеской компании.</p>

 <p>Ассортимент и формат продаж</p>
 <p>Магазин предлагает широкий выбор игр, классифицируя их в разделы «Новинки», «Хиты» и «Скидки». В карточках товаров указывается ключевая информация: возрастное ограничение (например, 10+, 14+), количество игроков (2-4, 2-2), ориентировочное время партии (от 15-20 до 90-180 минут) и цена в белорусских рублях. Например, в числе новинок представлена игра «Мышиное новоселье» (59 р., 2-4 игрока, 5+ лет), а среди хитов — стратегическая игра «Сумеречная Борьба» (234.90 р., 2 игрока, 14+ лет). Пользователям доступна функция предзаказа, возможность покупки в один клик, а также возможность подписаться на уведомление о появлении товара.</p>

 <p>О магазине и его философия</p>
 <p>Слоган магазина — «Настольные игры никогда не выходят из моды». Основная цель проекта, как заявлено на сайте, — помочь разнообразить досуг, будь то вечеринка, семейный вечер или встреча с друзьями. На сайте указан город расположения (Минск) и приведены адреса розничных магазинов. Также есть возможность создать личный кабинет («Войти»).</p>

    <a href="/">Назад на главную</a>
</body>
</html>